{
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "linebreak-style": ["error", "windows"]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ]
}